[Desktop Entry]
Version=1.0
Name=Browser Picker
GenericName=Web Browser
Comment=Choose a browser and profile each time a link is opened
Exec=@BINDIR@/browser-picker %U
StartupNotify=true
Terminal=false
Icon=applications-internet
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;x-scheme-handler/about;x-scheme-handler/unknown;text/html;
